<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewCLProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".ViewCLActivity" />
        <activity
            android:name=".ViewCLActivity"
            android:label="Confinement Ladies"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".Apply2Activity"
            android:label="@string/submit_identity_card"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ApplyActivity"
            android:label="@string/submit_selfie"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddUserDetailMActivity"
            android:label="Add Your Details" />
        <activity
            android:name=".RegisterMActivity"
            android:label="@string/register"
            android:parentActivityName=".RegisterMenuActivity" />
        <activity
            android:name=".RegisterMenuActivity"
            android:label="@string/register"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PackageManagerActivity"
            android:label="@string/package_manager"
            android:parentActivityName=".AccountSettingsActivity" />
        <activity
            android:name=".AccountSettingsActivity"
            android:label="@string/account_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPackageDetailActivity"
            android:label="Package Detail"
            android:parentActivityName=".ViewPackageActivity" />
        <activity android:name=".ViewPackageHolder" />
        <activity
            android:name=".AddPackageActivity"
            android:label="Add Package"
            android:parentActivityName=".PackageManagerActivity" />
        <activity
            android:name=".ViewPackageActivity"
            android:label="Package"
            android:parentActivityName=".PackageManagerActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".AccountSettingsActivity" />
        <activity
            android:name=".AddUserDetailCLActivity"
            android:label="Add Your Details" />
        <activity android:name=".ViewProfileActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/about_us"
            android:parentActivityName=".MainActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/reset_password"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".RegisterCLActivity"
            android:label="@string/register"
            android:parentActivityName=".RegisterMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>